@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @magenta;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
    opacity: 0.5;
    z-index: 1;
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: transparent;
  border: 2px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 2px solid @syntax-result-marker-color-selected;
}

.comment,
.comment.block.haml,
.punctuation.section.comment.haml {
  color: rgba(0,123,106,0.7);
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(39,243,106,0.1), rgba(39,243,106,0.1));
  font-style: italic;
}

.definition.comment {
  background-image: none;
}

.entity {
  &.name.type {
    color: @entity-color;
  }

  &.other.inherited-class {
    color: @entity-color;
  }
}

.keyword {
  color: @syntax-text-color;

  &.control {
    color: @syntax-text-color;
  }

  &.operator {
    color: @syntax-text-color;
  }

  &.other.special-method {
    color: @syntax-text-color;
  }

  &.other.unit {
    color: @orange;
  }
}

.storage {
  color: @purple;
}

.constant {
  color: @entity-color;

  &.character.escape {
    color: @cyan;
  }

  &.numeric {
    color: @magenta;
  }

  &.other.color {
    color: @cyan;
  }

  &.other.symbol {
    color: @green;
  }
}

.variable {
  // color: @syntax-text-color;
  color: rgb(38, 180, 223);

  &.interpolation {
    color: darken(@red, 10%);
  }

  &.parameter.function {
    color: @syntax-text-color;
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  // color: @syntax-result-marker-color;
  color: @string-color;


  &.regexp {
    color: @cyan;

    .source.ruby.embedded {
      color: @orange;
    }
  }

  &.other.link {
    color: @red;
  }
}

.punctuation {
  &.definition {
    &.string,
    &.variable,
    &.parameters,
    &.array {
      color: @entity-color;
    }

    &.heading,
    &.identity {
      color: @blue;
    }

    &.bold {
      color: @light-orange;
      // font-weight: bold;
    }

    &.italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: darken(@red, 10%);
  }

}

.support {
  &.class {
    color: @entity-color;
    // font-weight: bold;
  }

  &.function  {
    // color: @cyan;

    &.any-method {
      // color: @blue;
    }
  }
}

.meta.function {
  .entity {
    &.name.function {
      color: @function-color;
      background-color: rgba(238, 238, 255, 0.7);
    }
  }
}

.entity {
  // &.name.function {
  //   color: @function-color;
  //   background-color: #eef;
  //   // font-weight: bold;
  // }

  &.name.class, &.name.type.class {
    color: @light-orange;
  }

  &.name.section {
    color: @blue;
  }

  &.name.tag {
    color: @red;
    text-decoration: underline;
  }

  &.other.attribute-name {
    color: @orange;

    &.id {
      color: @blue;
    }
  }
}

.meta {
  &.class {
    color: @light-orange;
  }

  &.link {
    color: @orange;
  }

  &.require {
    color: @blue;
  }

  &.selector {
    color: @purple;
  }

  &.separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    // font-weight: bold;
  }

  &.changed {
    color: @purple;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: @purple;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
  }

  &.inserted {
    color: @green;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.raw.inline {
    color: @green;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @green;
  }
}

atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view {
  padding-left: 1px;
}

.entity.name.type.class.ruby,
.variable.other.constant.ruby,
.entity.name.type.class.coffee {
  color: @entity-color;
  // font-weight: bold;
}
.punctuation.definition.constant.ruby {
  color: @cyan;
}
.constant.other.symbol.ruby {
  color: @purple;
  // text-decoration: underline;
}
.constant.language.boolean.ruby,
.constant.language.nil.ruby,
.constant.numeric.ruby,
.string.regexp.interpolated.ruby,
.constant.character.escape.ruby {
  color: @magenta;
}
.variable.other.block.ruby {
  color: @entity-color;
}
.punctuation.definition.parameters.ruby {
  color: @syntax-text-color;
}
.entity.name.tag.yaml {
  color: @electric-blue;
  text-decoration: none;
  // font-weight: bold;
}
.string.unquoted.yaml,
.string.quoted.double.yaml,
.string.quoted.single.yaml {
  // color: @syntax-result-marker-color;
  color: @string-color;
}
.punctuation.definition.string.begin.yaml,
.punctuation.definition.string.end.yaml {
  color: @black;
}
.text.haml {
  .meta.line.ruby.haml {
    color: @electric-blue;

    .source.ruby.embedded.haml {
      color: @cyan;
    }
  }
  .meta.section.attributes.haml {
    .keyword.operator.arithmetic.ruby {
      color: @electric-blue
    }
    .constant.numeric.ruby {
      color: @syntax-text-color;
    }
    .constant.other.symbol.hashkey.ruby {
      color: @syntax-text-color;
    }
  }
  .meta.tag.haml {
    .punctuation.definition.tag.haml {
      color: @electric-blue;
    }
    .entity.name.tag.haml {
      color: @syntax-text-color;
      text-decoration: none;
    }
  }
  .entity.name.tag.class.haml {
    color: @syntax-text-color;
    text-decoration: none;
  }
  .string.quoted.single.ruby,
  .string.quoted.double.interpolated.ruby {
    // color: @syntax-result-marker-color;
    color: @string-color;
  }
  .punctuation.definition.string.begin.ruby,
  .punctuation.definition.string.end.ruby {
    color: @black;
  }
  .keyword.control.pseudo-method.ruby,
  .support.function.actionpack.rails,
  .keyword.control.ruby {
    color: @cyan;
  }
  .entity.name.tag.id.haml {
    color: @magenta;
    text-decoration: none;
  }
  .punctuation.definition.comment.ruby,
  .comment.line.number-sign.ruby,
  .punctuation.whitespace.comment.leading.ruby {
    color: @syntax-text-color;
    background-color: @background-color;
  }
  .variable.other.constant.ruby {
    color: @syntax-text-color;
  }
}
.source.css,
.source.scss,
.source.css.less {
  .entity.other.attribute-name.class.css,
  .entity.other.attribute-name.class.scss,
  .keyword.control.html.custom.elements {
    color: @purple;
  }
  .keyword.control.at-rule.import.css,
  .keyword.control.at-rule.import.scss {
    color: @blue;
  }
  .entity.name.tag.css,
  .entity.name.tag.scss {
    color: @pure-red;
    text-decoration: none;
  }

  .entity.other.attribute-name.pseudo-class.css,
  .entity.other.attribute-name.pseudo-class.scss {
    color: @light-orange;
  }
}
.entity.name.tag.structure.any.html,
.entity.other.attribute-name.html,
.entity.name.tag.inline.any.html,
.entity.name.tag.block.any.html,
.entity.name.tag.script.html,
.entity.name.tag.html {
  color: @red;
  text-decoration: none;
}
.constant.character.entity.html {
  color: @magenta;
}
.entity.other.attribute-name.html {
  color: @blue;
}
.highlight-info {
  background-color: @black !important;
  color: #ffffff !important;
}
.search-result.list-item.selected {
  // background-color: @syntax-text-color !important;
}
.keyword.control.ruby {
  color: @cyan;
}

.punctuation.definition.string.begin.ruby,
.punctuation.definition.string.end.ruby {
  color: @black;
}
.punctuation.definition.variable.ruby {
  color: #ff0000;
}
.source.js {
  .constant.numeric.js {
    color: @magenta;
  }

  .support.constant.js {
    color: @syntax-text-color;
  }

  .entity.name.tag.js {
    color: @magenta;
    text-decoration: none;
  }

  .entity.other.attribute-name.js {
    color: @purple;
    text-decoration: underline;
  }
}
.source.go {
  .keyword.directive.go,
  .keyword.go {
    color: @cyan;
  }

  .support.function.decl.go {
    color: @black;
  }

  .keyword.operator.bracket.go,
  .keyword.operator.go {
    color: @syntax-text-color;
  }

  .keyword.directive.go + .variable.go {
    color: @entity-color;
  }

  .storage.type.go {
    color: @orange;
  }

  .constant.language.go {
    color: @magenta;
  }
}
