// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: rgb(38, 178, 220);
@blue: #81a2be;
// @purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;

// colors
@cool-purple: #ca1ec9;
@electric-blue: #676bfb;
@pure-red: #ff0000;
@pure-white: #ffffff;
@black: #000;
@dark-blue: #000088;
@purple: purple;
@magenta: magenta;

// background
@background-color: #ffffff;
@cursor-color: #cccccc;
@green: #22a21f;
@light-green: #dbf3cd;

// gutter
@gutter-text-color: @syntax-text-color;
@gutter-text-color-active: @syntax-text-color;
@gutter-background-color: #f9f9f9;
@gutter-background-color-active: #eeeeee;

// text
@text-color: #000;
@text-selection-color: #3fd;

// invisibles
@wrap-guide-color: #eee;
@indent-guide-color: #eee;
@invisible-character-color: #f8f8f8;

// comment
@comment-color: #ddd;

// code
@entity-color: #0000dd;

@function-color: rgb(158, 112, 239);
@kinda-pink: rgb(255, 57, 131);
@string-color: red;
