@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @text-color;
@syntax-cursor-color: @cursor-color;
@syntax-selection-color: @text-selection-color;
@syntax-background-color: @background-color;

// Guide colors
@syntax-wrap-guide-color: @wrap-guide-color;
@syntax-indent-guide-color: @indent-guide-color;
@syntax-invisible-character-color: @invisible-character-color;

// For find and replace markers
@syntax-result-marker-color: @pure-red;
@syntax-result-marker-color-selected: @pure-white;

// Gutter colors
@syntax-gutter-text-color: @gutter-text-color;
@syntax-gutter-text-color-selected: @gutter-text-color-active;
@syntax-gutter-background-color: @gutter-background-color;
@syntax-gutter-background-color-selected: @gutter-background-color-active;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @electric-blue;
@syntax-color-removed: @pure-red;
